<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>API CERTI</title>
	</head>
	<body style="text-align: center;>
		<h2>API CERTI</h2>
		<p>
		Bem vindo à API. <br/>
		Esta API existe para fornecer um front-end angular com rotas para registrar e retornar pokemons.
		</p>
		<p>
		As rotas disponíveis são:
		GET <a href:"http://localhost:3000/api/pokemons>/api/pokemons</a> <br/>
		Retorna todos os pokemons <br/>
		POST <a href:"http://localhost:3000/api/pokemons>/api/pokemons</a> <br/>
		Adiciona um novo pokemon <br/>
		</p>
	</body>
</html>
